<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.labeli"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="14" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_white"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" android:persistent="false">
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.app.labeli.event.EventDetailsActivity" >
        </activity>
        <activity
            android:name="com.app.labeli.member.MemberDetailsActivity"
            android:label="@string/title_activity_member_details" >
        </activity>
        <activity android:name="com.app.labeli.project.ProjectDetailsActivity"></activity>
        <activity android:name="com.app.labeli.team.TeamDetailsActivity"></activity>
        <activity android:name="com.app.labeli.project.AddProjectActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"></activity>
        <activity android:name="com.app.labeli.project.AuthorSelectionActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"></activity>
        <activity android:name="com.app.labeli.project.EditProjectActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"></activity>
        <activity android:name="com.app.labeli.project.MessagesActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"></activity>
    </application>

</manifest>
